In [1]:
import pandas as pd

In [2]:
movie_df = pd.read_csv("archive_movie/movie_dataset.csv")
economy_df = pd.read_csv("archive _economy/Eco_USA.csv")
congress_df = pd.read_csv("congress.csv")
pd.set_option("display.max_columns", None)

In [3]:
movie_df['release_date'] = pd.to_datetime(movie_df['release_date'])

In [4]:
movie_df['release_year'] = movie_df['release_date'].dt.year
movie_df = movie_df.dropna(subset=['release_year'])
movie_df['release_year'] = movie_df['release_year'].astype(int)

In [5]:
movie_df = movie_df.drop(columns=['homepage','original_language','release_date','spoken_languages','status','tagline','crew', 'id','original_title','vote_count'])

In [9]:
highest_revenue_rows = movie_df.loc[movie_df.groupby('release_year')['revenue'].idxmax()]
result = highest_revenue_rows[['title', 'revenue', 'release_year']]

In [13]:
result.head(50)

                                   title    revenue  release_year
4592                         Intolerance    8394751          1916
4661                      The Big Parade   22000000          1925
2638                          Metropolis     650422          1927
4594                 The Broadway Melody    4358000          1929
3804                       Hell's Angels    8000000          1930
3611                  A Farewell to Arms         25          1932
4570                         42nd Street    2281000          1933
4604               It Happened One Night    4500000          1934
4495                             Top Hat    3202000          1935
4238                        Modern Times    8500000          1936
4259     Snow White and the Seven Dwarfs  184925486          1937
4200          You Can't Take It With You    7433101          1938
3813                  Gone with the Wind  400176459          1939
1108                           Pinocchio   84300000          1940
4288             How Green Was My Valley    6000000          1941
4441                               Bambi  267447150          1942
4043                      Bathing Beauty    6892000          1944
4283                    The Lost Weekend   11000000          1945
4062         The Best Years of Our Lives   23650000          1946
4091               Gentleman's Agreement    7800000          1947
3916                           Red River    9012000          1948
4351                   Sands of Iwo Jima    7800000          1949
3816                  Annie Get Your Gun    8000000          1950
3229                           Quo Vadis   30000000          1951
3740          The Greatest Show on Earth   36000000          1952
3564                            The Robe   36000000          1953
3568        20,000 Leagues Under the Sea   28200000          1954
4297              The Trouble with Harry    7000000          1955
3747                             Trapeze   14400000          1956
3903        The Bridge on the River Kwai   33300000          1957
3898               Cat on a Hot Tin Roof   17570324          1958
3984                    Some Like It Hot   25000000          1959
2170                              Psycho   32000000          1960
3450                     West Side Story   43656822          1961
2550                  Lawrence of Arabia   69995385          1962
4071               From Russia with Love   78898765          1963
3884                          Goldfinger  124881062          1964
3236                  The Sound of Music  286214286          1965
3811               A Man for All Seasons   28350000          1966
3143                 You Only Live Twice  111584787          1967
2966               2001: A Space Odyssey   68700000          1968
3447  Butch Cassidy and the Sundance Kid  102308889          1969
2829                              Patton   89800000          1970
3336                Diamonds Are Forever  116019547          1971
3337                       The Godfather  245066411          1972
2808                        The Exorcist  441306145          1973
3997                     Blazing Saddles  119500000          1974
2809                                Jaws  470654000          1975
4333                               Rocky  117235147          1976
2912                           Star Wars  775398007          1977